// Colors
$gray-dark: #333;
$gray: #666;
$gray-light: #999;

$brand-primary: #108ee9;
$brand-danger: #f04134;

// Button
$btn-border-radius: 4px;

$btn-default-color: $gray;
$btn-default-bg: #fff;
$btn-default-border: #d9d9d9;

$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;

$btn-danger-color: #fff;
$btn-danger-bg: $brand-danger;
$btn-danger-border: $brand-danger;