@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover {
  	color: $color;
  	background-color: lighten($background, 8%);
  	border-color: lighten($border, 8%);
  }

  &:active {
  	color: $color;
  	background-color: darken($background, 8%);
  	border-color: darken($border, 8%);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #f7f7f7;
    border-color: #d9d9d9;
    color: lighten($gray-light, 20%);
    & > * {
      pointer-events: none;
    }
  }
}